<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>页面不存在|新蝶在线</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <!-- Icons css -->
    <link href="{% static 'admin/libs/@mdi/font/css/materialdesignicons.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'admin/libs/dripicons/webfont/webfont.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'admin/libs/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet"
          type="text/css"/>

    <!-- App css -->
    <!-- build:css -->
    <link href="{% static 'admin/css/app.css' %}" rel="stylesheet" type="text/css"/>
    <!-- endbuild -->

</head>

<body class="bg-account-pages">

<!-- HOME -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="wrapper-page">
                    <div class="account-pages">
                        <div class="account-box bg-transparent shadow-none">

                            <!-- Logo Box -->
                            <div class="account-logo-box">
                                <h2 class="text-uppercase text-center">
                                    {% if 'singdl_admin' in request.build_absolute_uri %}
                                        <a href="{% url 'admin:index' %}" class="text-success">
                                            <span><img src="{% static 'admin/images/logo.png' %}" alt=""
                                                       height="72"></span>
                                        </a>
                                    {% else %}
                                        <a href="{% url 'website:index' %}" class="text-success">
                                            <span><img src="{% static 'admin/images/logo.png' %}" alt=""
                                                       height="72"></span>
                                        </a>
                                    {% endif %}
                                </h2>
                            </div>

                            <div class="account-content text-center">
                                <h1 class="text-error">404</h1>
                                <h4 class="text-uppercase text-danger mt-3">页面不存在</h4>
                                <p class="text-white-50 mt-3">It's looking like you may have taken a wrong turn. Don't
                                    worry... it
                                    happens to the best of us. Here's a
                                    little tip that might help you get back on track.</p>
                                  {% if 'singdl_admin' in request.build_absolute_uri %}
                                    <a class="btn btn-primary mt-3" href="{% url 'admin:index' %}"><i
                                            class="mdi mdi-home mr-1"></i> 返回首页</a>
                                {% else %}
                                    <a class="btn btn-primary mt-3" href="{% url 'website:index' %}"><i
                                            class="mdi mdi-home mr-1"></i> 返回首页</a>
                                {% endif %}
                            </div> <!-- end account-content -->

                        </div> <!-- end account-box -->
                    </div>
                    <!-- end account-page-->
                </div>
                <!-- end wrapper-page -->

            </div> <!-- end col -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- END HOME -->


<!-- jQuery  -->
<script src="{% static 'admin/libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin/libs/bootstrap/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'admin/libs/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'admin/libs/metismenu/dist/metisMenu.min.js' %}"></script>

<!-- App js -->
<script src="{% static 'admin/js/jquery.core.js' %}"></script>
<script src="{% static 'admin/js/jquery.app.js' %}"></script>

</body>
</html>
